# tuple
## it is mutable data type

In [1]:
#how to create a tuple
t=()

In [2]:
# how to check the data type of variable 
type(t)

tuple

In [3]:
# now creating a tuple to performing operation
tuple1=(23,45,67,89,34,"shivank","tanya")

In [11]:
# print the created tuple
print(tuple1)

(23, 45, 67, 89, 34, 'shivank', 'tanya')

## sliceing the tuple

In [12]:
tuple1[0]

23

In [13]:
tuple1[-1]

'tanya'

In [14]:
tuple1[0:3]

(23, 45, 67)

In [15]:
tuple1[-1::-1]

('tanya', 'shivank', 34, 89, 67, 45, 23)

In [17]:
# reverse the element of tuple
tuple1[::-1]

('tanya', 'shivank', 34, 89, 67, 45, 23)

# function in tuple
## 1. index
## 2. count()

In [21]:
tuple1.count("a")

0

In [25]:
tuple1.index(34)

4

In [26]:
t1=(True , "shiv","tanu","ram",False, 0,1,2,3,4,5)

In [27]:
t1.index(1) #due to True is treated as a 1

0

In [28]:
t1.count(1) #due to True is treated as a 1

2

In [35]:
# iretated element through the tuple by for loop
for i in t1:
    print(i,type(i))

True <class 'bool'>
shiv <class 'str'>
tanu <class 'str'>
ram <class 'str'>
False <class 'bool'>
0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [37]:
t2=(1,2,3,4)

#####

In [38]:
t2

(1, 2, 3, 4)

In [39]:
t2*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [40]:
tuple_1=(1,2,3,4,5,6,7)
tuple_2=("shivank","tanya","miss","you")

In [44]:
tuple_3=(tuple_1+tuple_2 )
tuple_3

(1, 2, 3, 4, 5, 6, 7, 'shivank', 'tanya', 'miss', 'you')

In [46]:
"shivank" in tuple_3

True

In [47]:
"shiv" in tuple_3

False

In [48]:
len(tuple_3)

11

# question

In [50]:
#que 1 :-Reverse the tuple

tuple_4=(12,34,56,79,23)
tuple_4

(12, 34, 56, 79, 23)

In [72]:
n=len(tuple_4)-1
for i in range(n,-1,-1):
    print(tuple_4[i])

23
79
56
34
12

In [71]:
tuple_4[::-1]

(23, 79, 56, 34, 12)

In [73]:
#que 2:-Access value 20 from the tuple
tuple_5=(12,34,56,20,34)

In [74]:
tuple_5[3]

20

In [76]:
20 in tuple_5

True

In [77]:
if 20 in tuple_5:
    print("20")

20

In [78]:
# 2.
tuple_6 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple_6[1][1]

20