In [1]:
# create a list
lis =[1,2,3,4,5,6,7,8,9,10]

In [3]:
# create a function to find the square of the element inside a list
def fun1(lis):
    list=[]
    for i in lis:
        list.append(i**2)
    return list

In [4]:
#Call the function
fun1(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# define or create function
def square(v):
    return v**2

In [6]:
# bu using map function find the square of a element of the list
map(square,lis)

In [7]:
# convert into list 
list(map(square,lis))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# by using lambda and map function find the square of a element of the list
list(map(lambda x: x**2 , lis))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# by using lambda and map function add 10 of a element of the list
list(map(lambda x: x+10 , lis))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
# by using lambda and map function subtact 10 of a element of the list
list(map(lambda x: x-10 , lis))

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [14]:
# by using lambda and map function multiply 10 of a element of the list
list(map(lambda x: x*10 , lis))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [15]:
# by using lambda and map function divide 10 of a element of the list
list(map(lambda x: x/10 , lis))

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [16]:
# by using lambda and map function covert integer to string of the element of the list
list(map(lambda x: str(x) , lis))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [18]:
# by using lambda and map function find the sum of the  element of two  list
list1=[1,2,3,4,5,6,7]
list2=[1,2,3,4,5,6,7]

list(map(lambda x,y: x+y , list1 ,list2))

[2, 4, 6, 8, 10, 12, 14]

In [26]:
# by using lambda and map function convert a string into a list or the elemnt of the list in the form of string and upper case
string = "shivank is a good boy"
a=string.upper()

In [27]:
a

'SHIVANK IS A GOOD BOY'

In [28]:
b=list(map(lambda s:s.upper(),string))
b

['S',
 'H',
 'I',
 'V',
 'A',
 'N',
 'K',
 ' ',
 'I',
 'S',
 ' ',
 'A',
 ' ',
 'G',
 'O',
 'O',
 'D',
 ' ',
 'B',
 'O',
 'Y']

In [29]:
type(b)

list

In [31]:
from functools import reduce

In [35]:
#creatre a list
list4=[1,2,3,4,5,6,7]

In [42]:
#find the sum of all element of list by using sum function
sum(list4)

28

In [43]:
#by using reduce function find the sum of all element of list

In [44]:
#by using reduce function find the product of all element of list 
reduce(lambda x,y:x*y ,list4)

5040

In [45]:
#by using reduce function find the subtract of all element of list 
reduce(lambda x,y:x-y ,list4)

-26

In [49]:
# create a function of adding two number
def add(a,b):
    c=a+b
    return c

In [50]:
reduce(add ,list4)

28

In [51]:
# create a function of producttwo number
def mul(a,b):
    c=a*b
    return c

In [52]:
reduce(mul ,list4)

5040

In [53]:
# create a function of subtract two number
def sub(a,b):
    c=a-b
    return c

In [54]:
reduce(sub ,list4)

-26

In [56]:
# find the maximum of two number by using reduce function
a= reduce(lambda x,y: x if x>y else y, list4)
a

7

In [57]:
# filter function

In [59]:
# find the even number in the list by using filter function
list(filter(lambda x: x%2==0,list4))

[2, 4, 6]

In [60]:
# find the odd number in the list by using filter function
list(filter(lambda x: x%2!=0,list4))

[1, 3, 5, 7]

In [65]:
list5=['shivank','pandey','is','a','good','boy']
list(filter(lambda x: len(x)>3,list5))

['shivank', 'pandey', 'good']